#form

#home
  = image_tag('nutini_logo.jpg', id: 'logo')
  #home_text

#home_two
  #home_text_two
    Waitline manage the smart way...
#home_three
  #home_text_three
    You and I react the exact same way to water.


#myModal.reveal-modal
  %h2 Login
  = render(:partial => 'session/form')

#myModal2.reveal-modal
  %h2 Register
  = render(:partial => 'users/form')
