%div.waiting
  - if @auth.present?
    Total Waiting
    %br
    Number of Guests
    = @auth.waiting_total_people
    %br
    Number of Parties
    = @auth.waiting_total_parties
%div.seated
  - if @auth.present?
    Total Seated
    %br
    Number of Guests
    = @auth.seated_total_people
    %br
    Number of Parties
    = @auth.seated_total_parties


