%div.waiting
  - if @auth.present?
    Total Waiting
    %br
    Number of Guests
    = @auth.waiting_total_people
    %br
    Number of Parties
    = @auth.waiting_total_parties
%div.seated
  - if @auth.present?
    Total Seated
    %br
    Number of Guests
    = @auth.seated_total_people
    %br
    Number of Parties
    = @auth.seated_total_parties

/ %div.waiting
/     Total Waiting
/     %br
/     Number of Guests
/     Number of Parties
/     %br
/     = @auth.waiting_total_people
/     = @auth.waiting_total_parties
/ %div.seated
/     Total Seated
/     %br
/     Number of Guests
/     Number of Parties
/     = @auth.seated_total_people
/     = @auth.seated_total_parties

