%div.tabswitch
  =link_to('Waiting', waiting_users_path, :remote => true, :class => 'button radius success')
  =link_to('Seated', seated_users_path, :remote => true, :class => 'button radius success')
  =link_to("Make a Reservation", '#', remote: true, class: "button radius alert", :'data-reveal-id' => 'myModal')
#myModal.reveal-modal
  %h2 Make New Reservation
  = render(:partial => 'reservations/form')
#forms
  = render(:partial => 'reservations/reservations')
#form
#info_nav.info_nav
  = render(:partial => 'reservations/info_nav')
