%br
- if @auth.present?
  %section.reservation
    =link_to("Make a Reservation", new_reservation_path, remote: true, class: "button radius")
#form


=link_to("Send Text", sendtxt_users_path, remote: true, class: 'button radius')