@import url(http://fonts.googleapis.com/css?family=Fascinate|Carme);
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Lobster+Two|Bubbler+One);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body
{
background-image:url('natural_paper.png');
background-color:#cccccc;
}

.graph
{
  height: 600px;
}

table
{
  width: 100%;
  font-size: 18px;
  border: solid black 1px;
  text-align: center;
  margin-bottom: 50px;
}

#logo
{
  width: 400px;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-left: 100px;
}

#home
{
  width: 100%;
  height: 300px;
  background-color: white;
}

#home_two
{
  width: 100%;
  height: 600px;
  background-color: black;
}

#home_text
{
  display: inline-block;
  width: 700px;
  font-family: 'Bubbler One', sans-serif;
  font-size: 22px;
  margin: auto;
  margin-top: 30px;
  margin-right: 100px;
  padding: 15px;
  letter-spacing: 2px;
  text-align: center;
  float: right;
}

#home_text_two
{
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  margin: auto;
  padding: 200px;
  text-align: center;
  color: white;
}
#title
{
  font-family: 'Fascinate', cursive;
  font-size: 25px;
}

*
{
  font-family: 'Carme', cursive;
}

h1
{
  font-family: 'Carme', cursive;
}

h2
{
  font-family: 'Carme', cursive;
}

#reservations
{
  text-align: center;
}

#texted
{
  text-align: center;
}

.tabswitch
{
  margin-top: 15px;
  margin-left: 15px;
}

.info_nav
{
  width: 100%;
  height: 100px;
  background-color: black;
  overflow: scroll;
  color: white;
  vertical-align: true;
  position: fixed;
  bottom: 0;
}

#forms tr.reservation.notified
{
  background-color: gray;
}

.waiting
{
  width: 350px;
  display: inline-block;
  margin: 10px;
  border: 2px solid white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.seated
{
  width: 350px;
  display: inline-block;
  margin: 10px;
  border: 2px solid white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

#footer h5
{
  font-family: 'Lobster Two', cursive;
  margin-left: 20px;
  text-shadow: 0.1em 0.1em 0.05em #333
}

.chartone
{
  margin: 30px;
}

.chartonetext
{
  margin: 20px;
}




















